# Ignore the venv
.venv/*

# Ignore the build files
*.pyc

# Ignore the package
*.egg-info/*

# Ignore VS-Code specific files
.vscode/*

# Ignore training logs and stored models
runs/*
logs/*
src/drone_rl_school/notebooks/logs*
outputs/*
best_models/*
